@using Hotel.Api.Application.Common.Models.ReservationModels
@inject UserManager<User> userManager;
@{
    var user = @userManager.GetUserAsync(User).Result;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model AddReservationModel
<div class="d-sm-flex justify-content-between align-items-center p-3 gradient-primary">
    <h3>All Rooms</h3>
    <div>
        <a href="/dashboard"><button class="btn btn-light shadow mr-2">Dashboard</button></a>
        <a href="/reservations"><button class="btn btn-light shadow">Reservations</button></a>
    </div>
</div>
<div id="content">
    <div class="col">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Reservation Info</p>
            </div>
            <div class="card-body">
                <form method="POST" asp-action="AddReservation" asp-controller="Reservations">
                    <input type="hidden" asp-for="@Model.ReservationCreateModel.UserId" value="@user.Id">
                    
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="ReservationCreateModel.RoomId"><strong>Select Rooms</strong></label><br>
                                <select class="form-select" aria-label="Default select example"
                                        asp-for="ReservationCreateModel.RoomId" multiple>
                                    @foreach (var room in Model.RoomIds)
                                    {
                                        <option value="@room">Room ID: @room</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <span asp-validation-for="ReservationCreateModel.CheckInDate" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="ReservationCreateModel.CheckInDate"><strong>CheckIn Date</strong></label><br>
                                <input class="form-control" asp-for="ReservationCreateModel.CheckInDate">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <span asp-validation-for="ReservationCreateModel.CheckOutDate" class="text-danger"></span>
                            <div class="form-group">
                                <label asp-for="ReservationCreateModel.CheckOutDate"><strong>CheckOut Date</strong></label><br>
                                <input class="form-control" asp-for="ReservationCreateModel.CheckOutDate">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary shadow" type="submit">Add Reservation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>